<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>nXiTUznXSudcCCOMZbpbvR8uIVKf6q0J</string>
	<key>Domain</key>
	<string>bb-admin-dev.us.auth0.com</string>
</dict>
</plist>
